/* Outer window */
.chatcontroller {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.9em;
}
@media (max-width: 700px) {
    .chatcontroller {
        justify-content: center;
    }
}

/* Chat */
.chatwindow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 800px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--primaryDark);
}

.messages {
    overflow-y: scroll;
    height: 500px;
}

.msgcontainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px;
}

.msgfrom {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dateSent {
    font-size: 0.7em;
    opacity: 0.7;
    margin-top: 5px;
    display: none;
}

.msgabout:hover > .dateSent {
    display: block;
    /* background-color: red; */
}

.msgcontent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 45px;
}

/* Input */

.divInput {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: var(--primaryLight);
    border-radius: 5px;
}

.textInputField {
    padding-left: 20px;
}
