html {
    height: 100%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primaryDarkest: rgb(25, 27, 36);
    --primaryDark: rgb(41, 43, 55);
    --primaryLight: rgb(54, 57, 70);
    --accentColor: rgb(28, 100, 242);
    --inputColor: rgb(54, 57, 70);
    --hoverColor: rgb(54, 57, 70);
    --textColor: rgb(206, 206, 206);
    --headlineColor: rgb(235, 235, 235);
    --iconColor: rgb(206, 206, 206);
    --borderColor: rgb(0, 0, 0, 0.2);
    --borderRadius: 3px;

    --bodyColor: rgb(25, 27, 36);
    /* --navColor: rgb(41, 43, 55); */
    --navColor: rgb(0, 0, 0);
    --bottomGradient: rgb(0, 0, 0);
    --cardColor: rgb(41, 43, 55);
    --nestedCardColor: rgb(25, 27, 36);
    --inputColor: rgb(54, 57, 70);

    --textHeadlineColor: rgb(206, 206, 206);

    --darkBlue: rgb(2, 36, 65);

    color: var(--textColor);
    background-color: var(--bodyColor);
    font-size: 16px;

    /* Scrollbars */
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
}

::-webkit-scrollbar {
    height: 0px;
    max-width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.8);
}

.lightTheme {
    --primaryDarkest: rgb(211, 226, 255);
    --primaryDark: white;
    --primaryLight: rgb(249, 250, 251);
    --accentColor: rgb(28, 100, 242);
    --inputColor: rgb(255, 255, 255);
    --hoverColor: rgb(228, 228, 228);
    --textColor: rgb(2, 36, 65);
    --headlineColor: rgb(235, 235, 235);
    /* --iconColor: rgb(2, 36, 65); */

    --bodyColor: #d3e0ea;
    --navColor: #0085cc;
    --bottomGradient: whitesmoke;
    --cardColor: #f6f5f5;
    --inputColor: #f6f5f5;
    --nestedCardColor: rgb(25, 27, 36, 0.9);

    --textHeadlineColor: #eeeeee;
    --responsiveIconColor: rgb(2, 36, 65);
}

.cardColor {
    background-color: var(--cardColor);
}

.navigationBarTheme {
    background-color: var(--navColor);
    color: var(--textHeadlineColor);
}

.card {
    background-color: var(--cardColor);
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}

.darkest {
    background-color: var(--primaryDark);
}

h1 {
    font-size: 1.2em;
    font-weight: 600;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.1em;
}

button {
    outline-color: rgba(206, 206, 206, 0.1);
    border: none;
    font-size: 18px;
    padding: 8px;
    background: var(--accentColor);
    border-radius: 5px;
    color: var(--textHeadlineColor);
}
button:active {
    transform: translate(1px, 1px);
}

button:hover {
    opacity: 0.7;
}
.btnIcon {
    background-color: transparent;
    outline: none;
    border-radius: 50%;
    position: relative;
    margin: 0;
    padding: 0;
}
.btnIcon:hover {
    fill-opacity: 0.7;
}

/* Switch */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    transform: translateX(16px);
}
